
<fieldset class="debit-account1">
    <div class="col-lg-12">
        <div class="row">
            {{ form_row(form.debitAccount.accountHolder) }}
            {{ form_row(form.debitAccount.iban) }}
            <label>
                <span id="bank_name_updated"></span>
            </label>

        </div>
    </div>
</fieldset>
