{% extends '::base.html.twig' %}
{% form_theme edit_form '@VichUploader/Form/fields.html.twig' %}

{% block content -%}
    <h1>SocialMedia edit</h1>
    <div class="row">
        <div class="col-md-6">
            {{ form(edit_form) }}
            <a class="btn btn-warning" href="{{ path('admin_socialmedia') }}">
                Back to the list
            </a>
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}
