<div class="member-modal">
    <h2>{{ "bootbox.desc.toUseThisFeaturePlease " | trans }}</h2>
    <p>{{ "bootbox.desc.First" | trans }}</p>
    <a class="btn btn-primary" href="{{ path('tj_membership_booking_new') }}"> {{ 'bootbox.link.becomeMember' | trans }} </a>
</div>
