{% block footer %}
{{  'user.mailer.domain.footer' | trans }}
{#{{ domain }}#}
{#<p>{{ 'user.mailer.footer' | trans }}</p>#}
{#Der Theater-Stellenmarkt im Netz
Schomburgstr. 118A
22767 Hamburg
info@theaterjobs.de
http://www.theaterjobs.de#}
{% endblock footer %}