{% import '::macro.html.twig' as m %}
<div class="modal-body movebottom" id="addIban">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <h2> {{ 'membership.debit_account.addBankingData'| trans }}</h2>
                {% include 'TheaterjobsMembershipBundle:DebitAccount:_formOrder.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% block js %}
    <script>
        var form = $('#addIban form');
    </script>
    {% javascripts filter='?uglifyjs2'
        "@TheaterjobsMembershipBundle/Resources/public/js/debitAccount/main.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}