Options +FollowSymLinks +ExecCgi
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
